#choreList-button {
    position: relative;
    background: url("bulletlist.jpg"); 
    top: 5vw;
    left: 45vw;
    width: 134px;
    height: 130px;
    background-size: cover;
}

#rewardList-button {
    position: relative;
    left: 31.9vw;
    top: 15vw;
    background: url("badge.jpg");
    background-size: cover;
    width: 134px;
    height: 130px;
    margin-top: 150px;
    margin-left: 50px;
    
}

p1{
    position: relative;
    top: 9vh;
    color: black;
    font-weight: bold;
}

#reward-list-button {
    background: url ("")
}

#addChoreForm {
    margin-left: 5%;
}
