
#levelONE {
    /* position: relative; */
    /* left: 4vw; */
    /* bottom: 2vw; */
    /* background: url("levelONE.jpg"); */
    /* width: 64px; */
    /* height: 62px; */
    /* background-size: cover; */

}
#levelTWO {
    /* position: relative; */
    /* left: 4vw; */
    /* bottom: 2vw; */
    /* background: url("levelTWO.jpg"); */
    /* width: 64px; */
    /* height: 62px; */
    /* background-size: cover; */
}
#levelTHREE {
    /* position: relative; */
    /* left: 4vw; */
    /* bottom: 2vw; */
    /* background: url("levelTHREE.jpg"); */
    /* width: 64px; */
    /* height: 62px; */
    /* background-size: cover; */
}
p1 {
    /* position: relative; */
    /* left: 8px; */
    font-size: 14px;
}

#rewardForm {
    margin-left: 15%;
    margin-top: -2%;
}

.rewardFormInput {
    width: 60%;
    margin-left: 10%;
   
}

.editButton {
    margin-left: -400%;
}

.saveButton {
    margin-left: -600%;
}

#level2RewardRow{
    margin-top: 10%;
}

#level3RewardRow {
    margin-top: 10%;
}

.choreCheckListItem {
    border-bottom: 1px solid #ced4da;
    width: 52%;
    margin-top: 8%;
    margin-left: 2%;
}

.choreCheckListCheckBox {
    margin-left: 1%;
}

span:after{
    content:" "; 
    display:inline-block; 
    width:32px;
}

#chore-list-button {
    background: url("bulletlist.jpg");
    position: relative;
    background-size: cover;
    width: 134px;
    height: 130px;
    top: 8vw;
    margin-left: 80%;
}

.input-group {
    text-decoration: none;
}
