<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body>


<div id="demo">
    <p id="image" onmouseover="animateScript()"> </p>
</div>

<div id="demo">
        <p id="image3" onmouseover="animateScript()"> </p>
    </div>
<script>
    
function animateScript() {
    document.getElementById("image").style.backgroundPosition = `-213px 0px`;  
}

function animateScript() {
    document.getElementById("image3").style.backgroundPosition = `-213px 0px`;  
}
var tID // variable to clear setInterval 

function animateScript() {

// var position = 157; //start position for image slicer
var position = 161; //start position for image slicer

const interval = 100; //100ms of interval for setInterval
 
 tID = setInterval ( () => {

document.getElementById("image").style.backgroundPosition = `-${position}px 0px`;
document.getElementById("image3").style.backgroundPosition = `-${position}px 0px`;


// if (position < 998) 
if (position < 998) //pose 1

{position = position + 167;} //pose 1
else 
{position = 167;}  //pose 1
 }
 ,interval );
}


</script>
</body>
</html>