.navbar{
    font-family: 'Barriecito', cursive;
    background-color: purple;
    height: 70px;
}
.logo {
    font-family: 'Barriecito', cursive;

}
.navbar li{
    display: inline-block;
    padding-top: 4%;
     
}
.btn-dark {
   font-family: Arial, Helvetica, sans-serif; 
}
.text-white {
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
   font-size: 30px;
}

#search {
    padding-left: 150px;
    
    
}

#saved {
    padding-left: 200px;
    
}
#wallpaper {
    position: relative;
    height: 719px;
    margin: 0 auto;
    background: url("../NavTabs/bananapaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
