.choreTableRow {
    margin-top: -16px;
    width: 70%;
}

.tableIndex{
    width: 5%;
}

.tableChoreName {
    width:35%;
}

.tableChoreLevel {
    width: 10%;
}

.tableChoreDueDate {
    width: 30%;
    text-align: center
}

.tableEditBtn {
    width: 15%;
    text-align: center

}

.tableDeleteBtn {
    width: 15%;
}