#parentPage-button {
    background: url("parents.jpg");
    position: relative;
    top: 10vw;
    left: 45vw;
    width: 134px;
    height: 130px;
    background-size: cover;

}

#childPage-button {
    background: url("child1.jpg");
    position: relative;
    width: 133px;
    height: 130px;
    left: 45vw;
    top: 25vw;
    background-size: cover;
 
}
#tree {
    position: absolute;
    left: 10vw;
    bottom: -2vw;
    height: 540px;
}
p1 {
    color: black;
    position: relative;
    top: 9vw;
}